In [14]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22])
s = pd.Series(arr)
print(s)

arr=np.array(['a','b','c','d'])
s=pd.Series(arr, index=['first','second','third','fourth'])
print(s)

s=pd.Series(50, index=[0, 1, 2, 3, 4])
print (s)

d={'Name': 'Deepthi', 'Class' : 'MCA', 'year' : 2014}
s=pd.Series(d)
print(s)


s = pd.Series([10,15,18,22])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=20
df['List3']=df['List1']+df['List2']
print(df)

0    10
1    15
2    18
3    22
dtype: int64
first     a
second    b
third     c
fourth    d
dtype: object
0    50
1    50
2    50
3    50
4    50
dtype: int64
Name     Deepthi
Class        MCA
year        2014
dtype: object
   List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     22     20     42