In [9]:
import numpy as np
import pandas as pd
data = pd.read_excel("/content/Book2.xlsx")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EMPLOYEE ID    3 non-null      int64
 1   NAME           3 non-null      object
 2   EMAIL          3 non-null      object
 3   PH_NO          3 non-null      int64
 4   HIRE_DATE      3 non-null      datetime64[ns]
 5   DESIGNATION    3 non-null      object
 6   SALARY         3 non-null      int64
 7   MANAGER_ID     3 non-null      int64
 8   DEPARTMENT_ID  3 non-null      int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 348.0+ bytes